@import controllers.Application.DurationRequest

@(form: Form[DurationRequest])(implicit messages: Messages)

@main("Airports popularity")("airports") {
  <p>Select the duration you want to calculate the popularity from.</p>
  <p>A week is calculated as every 7 days in the year (e. g. 01.01 - 07.01 is first week, 08.01 - 14.01 second, etc.).</p>
  @helper.form(action = routes.Application.airportsPopularity()) {
    @helper.input(form("yearFrom")) { (id, name, value, args) =>
      <div class="form-group">
        <input type="text" class="form-control" value="@value" id="@id" name="@name" @toHtmlArgs(args)>
      </div>
    }
    @helper.input(form("weekFrom")) { (id, name, value, args) =>
      <div class="form-group">
        <input type="text" class="form-control" value="@value" id="@id" name="@name" @toHtmlArgs(args)>
      </div>
    }
    @helper.input(form("yearTo")) { (id, name, value, args) =>
      <div class="form-group">
        <input type="text" class="form-control" value="@value" id="@id" name="@name" @toHtmlArgs(args)>
      </div>
    }
    @helper.input(form("weekTo")) { (id, name, value, args) =>
      <div class="form-group">
        <input type="text" class="form-control" value="@value" id="@id" name="@name" @toHtmlArgs(args)>
      </div>
    }
    <input type="submit" value="Submit" class="btn btn-success">
  }
}
